extends partials/header

block content
  style.
    .page-wrapper {
      padding: 0;
    }
  .page-background.search.results
    .constrain
      .meta-nav-module-with-sidebar
        .content
          .gsc-control-wrapper-cse
            form.gsc-search-box.gsc-search-box-tools(accept-charset='utf-8')
              table.gsc-search-box
                tbody
                  tr
                    td.gsc-input
                      .gsc-input-box
                        input.thisclass(autocomplete='off', type='text', name='search', title='search', placeholder='Search Title, Author, or Abstract')
                    td.gsc-search-button
                      button.gsc-search-button.gsc-search-button-v2
            form.refinements-jump-menu
              select
                option All results
                option Books
                option Messages
                option Look at the Book
                option Ask Pastor John
                option Articles
            .gsc-results-wrapper
              .gsc-refinementsArea
                .gsc-refinementBlock
                    span.gsc-refinementHeader.gsc-refinementhActive(data-order='0') All results  
                    span.gsc-refinementHeader.gsc-refinementhInactive(tabindex='0', data-order='1') Books  
                    span.gsc-refinementHeader.gsc-refinementhInactive(tabindex='0', data-order='2') Messages  
                    span.gsc-refinementHeader.gsc-refinementhInactive(tabindex='0', data-order='3') Look at the Book  
                    span.gsc-refinementHeader.gsc-refinementhInactive(tabindex='0', data-order='4') Ask Pastor John  
                    span.gsc-refinementHeader.gsc-refinementhInactive(tabindex='0', data-order='5') Articles  
              .gsc-above-wrapper-area
                //- TODO: Display # of results and remove "display: none;" from .gsc-above-wrapper-area
                .gsc-result-info About 273 results (0.09 seconds)
          .gsc-wrapper
            table(style='width:100%')
              tbody
                each sermon, i in sermons
                  tr.resource-list-row
                    td.resource-list-item
                      a.resource-list-item__inner(href='/messages/'+sermon._id)
                        .resource-list-item__author-image
                          img(alt='', height='30', width='30', src='/images/defaults/avatar-male.png')
                        h2.resource-list-item__title= sermon.title
                        span.resource-list-item__data= sermon.author
                        - const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        - const date = monthNames[sermon.date.getMonth()] + " " + sermon.date.getDate() + ", " + sermon.date.getFullYear();
                        span.resource-list-item__data= date
                    td.resource-list-item.resource-list-item__rating
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data Star ratings go here.
                    td.resource-list-item.resource-list-item__church
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data Northlake Baptist Church
                    td.resource-list-item.resource-list-item__topic
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data= (sermon.topics.length === 0 ? 'Christianity' : sermon.topics[1])
                    td.resource-list-item.resource-list-item__reading-time
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data 5:47
                    td.resource-list-item.resource-list-item__abstract= sermon.abstract
                each article, i in articles
                  tr.resource-list-row
                    td.resource-list-item
                      a.resource-list-item__inner(href='/articles/'+article._id)
                        //- TODO: Replace avatar-male.png with user.image (Use article.author as foreign key to access user table.)
                        //- https://www.jstor.org/action/doBasicSearch?Query=what+is+this&acc=off&wc=on&fc=off&group=none
                        //- https://study.com/academy/subj/math.html -- maybe use an API to generate mages
                        .resource-list-item__author-image
                          img(alt='', height='30', width='30', src='/images/defaults/avatar-male.png')
                        h2.resource-list-item__title= article.title
                        span.resource-list-item__data= article.author
                        - const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        - const date = monthNames[article.date.getMonth()] + " " + article.date.getDate() + ", " + article.date.getFullYear();
                        span.resource-list-item__data= date
                    td.resource-list-item.resource-list-item__rating
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data Star ratings go here.
                    td.resource-list-item.resource-list-item__church
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data Northlake Baptist Church
                    td.resource-list-item.resource-list-item__topic
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data Marriage
                    td.resource-list-item.resource-list-item__reading-time
                      .resource-list-item__inner.resource-list-item--center
                        span.resource-list-item__data 5:47
                    td.resource-list-item.resource-list-item__abstract
                            |  This is an example ebstract. Although it is clear and plain that my abstract-writing abilities are almost commensurate with my charm and good looks, this abstract is for the purpose of displaying example text below a row in the results table.
          .gs-bidi-start-align.pagination
            .gsc-cursor-page.gsc-cursor-current-page(tabindex='0') 1
            .gsc-cursor-page(aria-label='Page 2', role='link', tabindex='0') 2
            .gsc-cursor-page(aria-label='Page 3', role='link', tabindex='0') 3
            .gsc-cursor-page(aria-label='Page 4', role='link', tabindex='0', style='display: none;') 4
            .gsc-cursor-page(aria-label='Page 5', role='link', tabindex='0', style='display: none;') 5
            .gsc-cursor-page(aria-label='Page 6', role='link', tabindex='0', style='display: none;') 6
            .gsc-cursor-page(aria-label='Page 7', role='link', tabindex='0', style='display: none;') 7
            .gsc-cursor-page(aria-label='Page 8', role='link', tabindex='0', style='display: none;') 8
            .gsc-cursor-page(aria-label='Page 9', role='link', tabindex='0', style='display: none;') 9
            .gsc-cursor-page(aria-label='Page 10', role='link', tabindex='0', style='display: none;') 10
            span.next Next

  include partials/footer
